img{
    height:150px;
    width:150px;
    border-radius: 5%;
    border:solid;
    border-color:white;
    margin-top:20px;
    transition: transform.2s;
}

body{
    text-align:center;
    background-color:rgb(32, 31, 31);
    background-image: url("https://i.pinimg.com/originals/03/c8/9d/03c89dbf0325753a847ed914f490ff6d.jpg");
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}
input{
    height:30px;
    width:200px;
    border:solid;
    font-weight:bold;
}
section{
    margin-top:10px;
}

button{
    background-color: orange;
    height:35px;
    font-size:15px;
    border:solid;
    font-weight: bold;
    transition:transform.2s;
}
button:hover{
    transform:scale(0.9);
}

section{
    margin-top:50px;
    padding:10px;
    

}

img:hover{
    transform:scale(0.9);
}
H1{
    font-size:50px
}